{% extends "page.html" %}

{% block content %}
        
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>Create New Course</h2>

        {% if course_added %}
            <strong>You have sucessfully created the course!</strong>
            <a href="/">Return to the homepage.</a><br />
        {% else %}
            <form id="course_form" method="post" action="">
                {% csrf_token %}

                {{ course_form.as_p }}

                <input class="btn btn-primary" type="submit" value="Create Course" />
            <a class="btn btn-primary" href="/">Cancel</a>
            </form>
        {% endif %}
    </div>
{% endblock %}