<!DOCTYPE html>
<html>
    <head>
        <title>CourseMate</title>
    </head>

    <body>
        <h1>Create New Course</h1>
        {% if course_added %}
            <strong>You have sucessfully created the course!</strong>
            <a href="/">Return to the homepage.</a><br />
        {% else %}
            <form id="course_form" method="post" action="">
                {% csrf_token %}
                {{ course_form.as_p }}

                <input type="submit" value="Create Course" />
            </form>
        {% endif %}
    </body>
</html>
