{% extends "page.html" %}
{% block content %}
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% if school %}
            <h1>{{school.name}}</h1>
            {% if eligible and not enrolled %}
                <form id="course_enrol_form" method="post" action="">
                    {% csrf_token %}
                    <input id="enrol" type="submit" value="Enrol!" class="btn btn-primary btn-lg">
                </form>
            {% elif not eligible %}
                <p> You are not eligible to enrol in this school.</p>
            {% else %}
                <p> You are currently enrolled in this school.</p>
                <a href='/school/{{school.id}}/calendar/' class='btn btn-primary btn-lg'>View Calendar</a>
            {% endif %}
            <br>

            <h3>Available Courses</h3>
            <ul>
                {% for c in courses %}
                    <li><a href="/school/course/{{ c.id }}">{{c.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Broken link. No course with course id {{course.id}}.</p>
        {% endif %}
    </p>
{% endblock %}
