{% extends "page.html" %}

{% block content %}
    {% if enrolled %}
        <h2>You have enrolled in {{school.name}}.</h2>
        <p><a href="/">Return to the homepage.</a></p>
    {% else %}
        {% if school %}
            <h2>{{school.name}}
                <form id="event_form" method="post" action="">
                    {% csrf_token %}
                    <input class="btn btn-primary" id="enrol" type="submit" value="Enrol!">
                </form>
            </h2>

            <br>
            <p> BTW:</p>
            {% if same_enrolled %}
                <p> Currently Enrolled in : {{current_school.name}} </p>
                <p> YOU ARE ALREADY ENROLLED IN THIS SCHOOL! </p>
            {% else %}
                <p> Currently NOT Enrolled in any school</p>
                <p> Eligible to enrol : {{eligible}} </p>
            {% endif %}
        </br>
            <h3>Available Courses</h3>
            <ul>
                {% for c in courses %}
                    <li>{{c.name}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Broken link. No school with school id {{school.id}} <p>
        {% endif %}
    {% endif %}

{% endblock %}