{% extends "page.html" %}

{% load static %}

{% block js %} 
{{ block.super }}
 <script src="{% static 'js/list.min.js' %}"></script>
 <script>
 $(document).ready(function () {

    var options = {
        valueNames: [ 'name', 'born' ]
    };

    var schoolList = new List('school-list', options);
});
</script>
{% endblock %}


{% block header %}
TEst
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>Search for Schools</h1>
        {% if user.is_authenticated %}
            <div class="container-fluid" id="school-list">
                <input class="search form-control" placeholder="Search for your school's name...">
                <br />
                {% if schools %}
                  <div class="list list-group">
                  {% for school in schools %}
                    <a class="list-group-item" href="/school/{{ school.id }}"><span class="name">{{ school.name }}</span></a>
                  {% endfor %}
                  </div>
                {% endif %}

            </div>
                
        {% endif %}
</div>
{% endblock %}