{% extends "page.html" %}

{% block content %}
        <h2>Update Course</h2>
        
        {% if user.is_authenticated %}
            <form id="add_course_form" method="post" action="/main/">
                {% csrf_token %}
                Course: <input type="text" name="username" value="" size="50" />
                <br /><br />
                {{ course_form.as_p }}
                
                <input class="btn btn-primary" type="submit" value="submit" />
                <!--<a class="btn btn-primary" href="/">Cancel</a>
                -->
            </form>
        {% endif %}

{% endblock %}