{% extends "page.html" %}

{% block content %}
          

            <div class="col-xs-12 col-sm-4 col-sm-offset-4">

                {% if user.is_authenticated %}
                    <h2>You are already logged in!</h2>
                    <p><a href="{% url 'index' %}">Return to the homepage.</a></p>
                {% else %}
                    <form class="form-signin" role="form" id="login_form" method="post" action="{% url 'login' %}">
                        <h2 class="form-signin-heading">Please sign in</h2>
                        {% csrf_token %}
                        <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
                        <input name="password" type="password" class="form-control" placeholder="Password" required>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                {% endif %}
            </div>
{% endblock %}
