<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>

    <body>
        <h1>Do you even calendar bro?</h1>

        {% if user.is_authenticated %}
            <strong>You are already logged in!</strong>
            <a href="/main/">Return to the homepage.</a><br />>
        {% else %}

            <form id="login_form" method="post" action="/main/login/">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br /><br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />
                <input type="submit" value="submit" />
            </form>
        {% endif %}
    </body>
</html>
