{% extends "page.html" %}


{% block content-header %}
    {% if user.is_authenticated %}
        <h1>{{ user.username }}</h1>
    {% else %}
        <h1>Hey Stranger! </h1>
    {% endif %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="col-xs-12 col-sm-9">
            <a class="btn btn-primary btn-lg" href="/user/edit"><span class="glyphicon glyphicon-pencil"></span>Edit Profile</a>
            <a class="btn btn-primary btn-lg" href="/user/{{ user.id }}/calendar"><span class="glyphicon glyphicon-calendar"></span> Calendar</a>
            <a class="btn btn-primary btn-lg" href="/school/search"><span class="glyphicon glyphicon-tower"></span>Find your School</a>
            <a class="btn btn-primary btn-lg" href="/school/course/search"><span class="glyphicon glyphicon-tower"></span>Enroll in a Course</a>

            {% if perms.user.can_create_course %}
                <a class="btn btn-primary btn-lg" href="/school/course/create"><span class="glyphicon glyphicon-tower"></span>Create course</a>
            {% endif %}
          </table>
        </div>
    {% else %}
        <div class="col-xs-12">
            <a class="btn btn-primary btn-lg" href="/register">
            <span class="glyphicon glyphicon-thumbs-up"> Register</span></a>
            <a class="btn btn-primary btn-lg" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </div>
    {% endif %}
{% endblock %}
