<!DOCTYPE html>
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        Welcome to the <strong>{{ app_description }}
            </strong> calendar app! Yup :) <br />
        {% if user.is_authenticated %}
            <h1>Sup {{ user.username }}!</h1>
            <h1>School name {{ school }}!</h1>
            <a href='logout/'>Logout? :(</a><br />
            <a href='/school/add_school/'>Add School? (or don't and save your money)</a><br />
        {% else %}
            <h1>Hey Stranger!</h1>
            <a href='register/'>Register</a><br />
            <a href='login/'>or you know... login</a><br />
        {% endif %}


    </body>

</html>
