{% extends "page.html" %}
      

{% block content-header %}
    {% if user.is_authenticated %}
        <h1>{{ user.username }}</h1>
    {% else %}
        <h1>Hey Stranger! </h1>
    {% endif %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
                  <div class="col-xs-12 col-sm-9">

                      <a class="btn btn-primary btn-lg" href="/user/{{ user.id }}/calendar">Calendar <span class="glyphicon glyphicon-calendar"></span></a>
                      <a class="btn btn-primary btn-lg" href="/school/add_school/">Add School <span class="glyphicon glyphicon-tower"></span></a>
                  </table>
                </div>
    {% else %}
            <div class="col-xs-12">
                <a class="btn btn-primary btn-lg" href="/register">
                <span class="glyphicon glyphicon-thumbs-up"> Register</span></a>
                <a class="btn btn-primary btn-lg" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </div>
    {% endif %}
{% endblock %}
