{% extends "page.html" %}

{% block content %}
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        {% if registered %}
            <h2>Thank you for registering.</h2>
            <p><a href="/">Return to the homepage.</a></p>
        {% else %}
            <form role="form" id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">
                <h2 class="form-signin-heading">Le registration</h2>

                {% csrf_token %}

                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                {% if user_type_form %}
                <label for="id_user_type">User Type:</label>
                {% for radio in user_type_form.user_type %}
                <div class="radio">
                    <label for="{{ radio.id_for_label }}" class="radio">
                        {{ radio.tag }}
                        {{ radio.choice_label }}
                    </label>
                </div>
                {% endfor %}
                {% endif %}


                <!-- Provide a button to click to submit the form. -->
                <input type="submit" class="btn btn-lg btn-primary btn-block" name="submit" value="Register" />
            </form>
        {% endif %}

    </div>
{% endblock %}
