{% extends "page.html" %}

{% load static %}

{% block css %}
{{ block.super }}
    <link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fullcalendar.print.css' %}" rel="stylesheet" media="print">
{% endblock %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
     
{% block js %}
{{ block.super }}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script>
        var COLOURS = []
        $(document).ready(function() {
            events = [];
            {% if calendar %}
            {% for e in events %}
            startDate = '{{ e.start|date:"Y-m-d\TH:i:s" }}';
            endDate = '{{ e.end|date:"Y-m-d\TH:i:s" }}';
            events.push({
                id: '{{e.id}}',
                title: '{{e.name}}',
                url: 'event/{{e.id}}/',
                start: moment(startDate),
                end: moment(endDate)
            });
            {% endfor %}
            {% endif %}
            $('#cm-calendar').fullCalendar({
                header: {
                    left: 'prev,today,next',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: '{% now "Y-m-d\TH:i:s" %}',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: events
            });
            
        });
    </script>
{% endblock %}

{% block content-header %}
{% endblock %}
{% block content %}
    {% if edit_priv %}
    <div class="col-xs-12 col-sm-2">
        <a class="btn btn-primary btn-lg" href="add/">Add Event</a>
        <hr />
        {% if owner_type == "user" %}
        <div class="list list-group">
            {% for course in courses%}
            
                 <a class="list-group-item" href="/course/{{ course.id }}/calendar">{{ course.code }}</a>
         
            {% endfor %}
               </div>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-10">
    {% else %}
    <div class="col-xs-12">
    {% endif %}
        <div id="cm-calendar"></div>
    <!--}
    }-->
    </div>
{% endblock %}